<div class="container">
  <div class="row">
    <div class="col col-md-6">

      <div class="loans-list--wrap">
        <h3 class="mb-4">
          Current Loans
        </h3>

        <div class="loans-list--loan-block">
          <div class="container-fluid">

            <div class="row">
              <div class="col col-md-8">
                <h5 class="loans-list-loan-title">
                  Name 1
                </h5>
              </div>
              <div class="col col-md-4 text-right">
                <div class="loans-list--loan-invested-text">
                  Invested
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-md-8">
                Loan desc
              </div>
              <div class="col col-md-4 text-right">

                <button class="btn btn-warning">
                  Invest
                </button>

              </div>
            </div>
          </div>
        </div>


        <div class="text-center">
          Total amount available for investment: <b>$ 1000</b>
        </div>

      </div>

    </div>
  </div>
</div>
