.loans-list {
  &--wrap {
    background-color: #ddd;
    padding: 2rem;
  }
  &--loan-block {
    border: 1px solid #aeaeae;
    background-color: #eee;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  &--loan-invested-text {
    color: green;
  }
}

.invest-form {
  &--wrap {
    background-color: #ddd;
    padding: 1.5rem .5rem;
  }
}
